{% extends 'index.html' %}
{% block title %}Sign up to AmberAI{% endblock%}
{% block content %}
<form method="POST" class="account-form ">
    {% csrf_token %}
    <div>
        <div class="account-form-label">
            {{ form.username.label }}
        </div>

        <div class="account-form-inputs">
            {{ form.username }}

            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="account-form-errors">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="account-form-label">
            {{ form.email.label }}
        </div>

        <div class="account-form-inputs">
            {{ form.email }}

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="account-form-errors">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="account-form-label">
            {{ form.password1.label }}
        </div>

        <div class="account-form-inputs">
            {{ form.password1 }}

            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div class="account-form-errors">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="account-form-inputs">
            {{ form.password2.label }}
        </div>

        <div class="account-form-inputs">
            {{ form.password2 }}

            {% if form.password2.errors %}
                {% for error in form.password1.errors %}
                    <div class="account-form-errors">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <button type="submit" name="Submit">Submit</button>
</form>
<div class="relative">
    <div class="flex flex-col absolute">
        {% for message in messages %}
            <div class="feedback-message">
                {{ message }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}